{
  "extends": "airbnb-base",
  "rules": {
    "linebreak-style": "off",
    "indent": ["warn", 4],
    "operator-linebreak": ["error", "after"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  }
}
