{
  "extends": "airbnb-base",
  "rules": {
    "linebreak-style": "off",
    "indent": ["warn", 2],
    "operator-linebreak": ["error", "after"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-console": "off"
  }
}
